<!-- <ion-header>
   <ion-toolbar>
    <ion-title> {{ 'WELCOME_TITLE' | translate }}, Java Hipster! </ion-title>
  </ion-toolbar> -->
<!-- </ion-header> -->

<!-- <ion-content class="background"> -->

<p class="hipster"></p>

<!-- </ion-content> -->
<ion-footer>
  <div class="logup">
    <ion-button expand="block" shape="round" fill="outline" routerLink="/login" id="signIn">{{ 'LOGIN' | translate }}</ion-button>

    <p class="msgcenter">{{ 'NO_ACCOUNT_MESSAGE' | translate }}</p>

    <ion-button expand="block" shape="round" fill="outline" routerLink="/signup">{{ 'SIGNUP' | translate }}</ion-button>
  </div>
</ion-footer>
