<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Delivery</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Parcel Id</ion-label>
        <ion-input type="number" name="parcel_id" formControlName="parcel_id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Driver Id</ion-label>
        <ion-input type="number" name="driver_id" formControlName="driver_id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Request Time</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="request_time" id="field_request_time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Assigned Time</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="assigned_time" id="field_assigned_time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Estimated Time</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="estimated_time" id="field_estimated_time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Ended Time</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="ended_time" id="field_ended_time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Star Received</ion-label>
        <ion-input type="number" name="star_received" formControlName="star_received"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Delivery Status</ion-label>
        <ion-input type="text" name="delivery_status" formControlName="delivery_status"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
