<ion-header>
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="start" routerLink="/tabs/home">
      <ion-icon name="arrow-back-outline" class="back"></ion-icon>
    </ion-buttons>
    <ion-title class="title">Parcels</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="screen__background_back">
    <span class="screen__background__shape screen__background__shape4_back"></span>
    <span class="screen__background__shape screen__background__shape3"></span>
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>

  <div>
    <br />
    <ion-card *ngFor="let delivery of deliveries; trackBy: trackId">
      <!-- Check parcel-detail.html for comments -->
      <ion-grid (click)="view(delivery)">
        <ion-row>
          <ion-col><div>ID :{{delivery.id}}</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Parcel ID</ion-col>
          <ion-col>{{delivery.parcel_id}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Driver ID</ion-col>
          <ion-col>{{delivery.driver_id}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Request Time</ion-col>
          <ion-col>{{delivery.request_time | date:'medium'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Assigned Time</ion-col>
          <ion-col>{{delivery.assigned_time | date:'medium'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Estimated Time</ion-col>
          <ion-col>{{delivery.estimated_time | date:'medium'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Ended Time</ion-col>
          <ion-col>{{delivery.ended_time | date:'medium'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Star Received</ion-col>
          <ion-col>{{delivery.star_received}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Delivery Status</ion-col>
          <ion-col>{{delivery.delivery_status}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <div class="ion-text-center" *ngIf="!deliveries?.length">
      <ion-label> No Deliveries found. </ion-label>
    </div>
  </div>
</ion-content>