<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Parcel</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sender Name</ion-label>
        <ion-input type="text" name="sender_name" formControlName="sender_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sender Email</ion-label>
        <ion-input type="text" name="sender_email" formControlName="sender_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sender Address</ion-label>
        <ion-input type="text" name="sender_address" formControlName="sender_address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sender Phone No</ion-label>
        <ion-input type="text" name="sender_phone_no" formControlName="sender_phone_no"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Receiver Name</ion-label>
        <ion-input type="text" name="receiver_name" formControlName="receiver_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Receiver Email</ion-label>
        <ion-input type="text" name="receiver_email" formControlName="receiver_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Receiver Address</ion-label>
        <ion-input type="text" name="receiver_address" formControlName="receiver_address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Receiver Phone No</ion-label>
        <ion-input type="text" name="receiver_phone_no" formControlName="receiver_phone_no"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Parcel Name</ion-label>
        <ion-input type="text" name="parcel_name" formControlName="parcel_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Parcel Type</ion-label>
        <ion-input type="text" name="parcel_type" formControlName="parcel_type"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Parcel Weight In Kg</ion-label>
        <ion-input type="number" name="parcel_weight_in_kg" formControlName="parcel_weight_in_kg"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Status</ion-label>
        <ion-input type="text" name="status" formControlName="status"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
