<ion-header>
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="start" routerLink="/tabs/home">
      <ion-icon name="arrow-back-outline" class="back"></ion-icon>
    </ion-buttons>
    <ion-title class="title">Parcels</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="screen__background_back">
    <span class="screen__background__shape screen__background__shape4_back"></span>
    <span class="screen__background__shape screen__background__shape3"></span>
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>

  <div>
    <br />
    <ion-card *ngFor="let parcel of parcels; trackBy: trackId">
      <!-- Check parcel-detail.html for comments -->
      <ion-grid (click)="view(parcel)">
        <ion-row>
          <ion-col><div id="sentparcelid">ID : {{parcel.id}}</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Parcel Name</ion-col>
          <ion-col>{{parcel.parcel_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Parcel Type</ion-col>
          <ion-col>{{parcel.parcel_type}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Sender Name</ion-col>
          <ion-col>{{parcel.sender_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Sender Address</ion-col>
          <ion-col>{{parcel.sender_address}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Sender Phone No</ion-col>
          <ion-col>{{parcel.sender_phone_no}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Receiver Name</ion-col>
          <ion-col>{{parcel.receiver_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Receiver Address</ion-col>
          <ion-col>{{parcel.receiver_address}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Receiver Phone No</ion-col>
          <ion-col>{{parcel.receiver_phone_no}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Status</ion-col>
          <ion-col>{{parcel.status}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <div class="ion-text-center" *ngIf="!parcels?.length">
      <ion-label> No Parcels found. </ion-label>
    </div>
  </div>
</ion-content>