.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../../assets/img/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../../assets/img/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  height: 100vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.carousel_div {
  align-items: baseline;
  margin-top: auto;
  height: 70%;
  width: 70%;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.box1 {
  position: relative;
  z-index: 1;
  /* This sets the element to be on top of the other element with a lower z-index value */
}

.box2 {
  position: relative;
  z-index: 0;
  /* This sets the element to be behind the other element with a higher z-index value */
}

.screen {
  background: linear-gradient(90deg, #184163d3, #78a6b8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #35588b;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background_back5 {
  background: #00000098;
  opacity: 0.5;
}

.screen__background_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  background: #2a9cf498;
  opacity: 0.3;
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #5899d6;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #388fba, #2379b2);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #1167b1;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.screen__background__shape4_back {
  height: 400px;
  width: 200px;
  background: #1d7ed3c4;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 80px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #1167b1;
}

.login__input {
  border: none;
  border-bottom: 2px solid #787683;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  margin-left: 10%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #2379b2;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #1167b1;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #2379b2;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #1167b1;
}

#myCarousel {
  height: auto;
  width: auto;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875b5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #388fba, #ffffff);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #1167b1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.chart_1 {
  height: 600px;
}

.chart_2 {
  height: 1000px;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  left: -250px;
  /* start off the screen */
  transition: left 0.5s;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-header h2 {
  font-size: 24px;
  margin-top: 0;
  color: #333;
}

.sidebar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-links li {
  margin-bottom: 10px;
}

.sidebar-links a {
  display: block;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  padding: 5px;
  transition: all 0.2s ease;
}

.sidebar-links a:hover {
  background-color: #f1f1f1;
}

ion-menu::part(backdrop) {
  background-color: rgba(21, 0, 255, 0.501);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(17, 0, 255, 0.504);
}

ion-modal {
  --height: 45%;
  --width: 95%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal {
  --background: rgb(14 116 144);
  --color: white;
}

.customColor {
  background: linear-gradient(45deg, #388fba, #ffffff);
}

ion-searchbar.search_bar {
  --background: #c5ecff;
  --color: rgb(15, 8, 33);
  --placeholder-color: rgb(15, 8, 33);
  --border-radius: 10px;
  --border-colors: #006688;
}

.set_pos {
  margin-top: 5%;
}

ion-toolbar.menu_custom {
  --background: #c5ecff;
  --color: #000;
}

.menu_pages {
  margin-top: 5%;
}

ion-list.menu_pages {
  margin-top: 5%;
}
ion-title.title {
  margin-left: 5%;
}
