#map {
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

ion-fab-button {
  --background: #2696dc;
  --background-activated: #4fd0e1;
  --background-hover: #4fd0e1;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}
