<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar class="ion-padding">
      <ion-buttons slot="start" routerLink="/tabs/home">
        <ion-icon name="arrow-back-outline" class="back"></ion-icon>
      </ion-buttons>
      <ion-title class="title">Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> Maps </ion-content>
  <!--
  <ion-content [fullscreen]="true" scroll-y="false">
    <div id="map"></div>
  </ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="pin-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="navigate-circle-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>-->
</ion-app>
