<div>
  <h2 id="page-heading" data-cy="FleetHeading">
    <span jhiTranslate="smsbackendApp.fleet.home.title">Fleets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smsbackendApp.fleet.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fleet"
        [routerLink]="['/fleet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smsbackendApp.fleet.home.createLabel"> Create a new Fleet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fleets?.length === 0">
    <span jhiTranslate="smsbackendApp.fleet.home.notFound">No Fleets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fleets && fleets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="driver_name">
            <div class="d-flex">
              <span jhiTranslate="smsbackendApp.fleet.driver_name">Driver Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="driver_email">
            <div class="d-flex">
              <span jhiTranslate="smsbackendApp.fleet.driver_email">Driver Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="driver_address">
            <div class="d-flex">
              <span jhiTranslate="smsbackendApp.fleet.driver_address">Driver Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="driver_phone_no">
            <div class="d-flex">
              <span jhiTranslate="smsbackendApp.fleet.driver_phone_no">Driver Phone No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vehicle_plate_no">
            <div class="d-flex">
              <span jhiTranslate="smsbackendApp.fleet.vehicle_plate_no">Vehicle Plate No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vehicle_type">
            <div class="d-flex">
              <span jhiTranslate="smsbackendApp.fleet.vehicle_type">Vehicle Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vehicle_status">
            <div class="d-flex">
              <span jhiTranslate="smsbackendApp.fleet.vehicle_status">Vehicle Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fleet of fleets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fleet', fleet.id, 'view']">{{ fleet.id }}</a>
          </td>
          <td>{{ fleet.driver_name }}</td>
          <td>{{ fleet.driver_email }}</td>
          <td>{{ fleet.driver_address }}</td>
          <td>{{ fleet.driver_phone_no }}</td>
          <td>{{ fleet.vehicle_plate_no }}</td>
          <td>{{ fleet.vehicle_type }}</td>
          <td>{{ fleet.vehicle_status }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/fleet', fleet.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/fleet', fleet.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fleet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
