<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label> {{ 'TAB1_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label> {{ 'MAP_TITLE' | translate }} </ion-label>
    </ion-tab-button>
    <!-- 
  <ion-tab-button tab="sbonea">
      <ion-icon name="apps"></ion-icon>
      <ion-label> {{ 'TAB2_TITLE' | translate }} </ion-label>
    </ion-tab-button>  -->

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label> {{ 'TAB3_TITLE' | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
