<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="start" routerLink="/tabs/fleet">
      <ion-icon name="arrow-back-outline" class="back"></ion-icon>
    </ion-buttons>
    <ion-title class="title">Delivery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="screen__background_back">
    <span class="screen__background__shape screen__background__shape4_back"></span>
    <span class="screen__background__shape screen__background__shape3"></span>
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>
  
  <ion-button (click)="historyview(0)">Driver Details</ion-button>
  <ion-button (click)="historyview(1)">Driver Stats</ion-button><br><br>
  
  <div *ngIf="history_view == 0">
  <ion-card>
    <!-- <ion-card-header> -->
    <!-- <ion-card-title>Parcel Name</ion-card-title>
      &nbsp;
      <ion-card-subtitle>SENDER'S UIN</ion-card-subtitle>
      &nbsp;
      <ion-card-subtitle>RECEIVER'S UIN</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      
    </ion-card-content> -->
    <ion-grid>
      <ion-row>
        <ion-col>Fleet ID : {{fleet.id}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Driver Name</ion-col>
        <ion-col>{{fleet.driver_name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Driver Email</ion-col>
        <ion-col>{{fleet.driver_email}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Driver Address</ion-col>
        <ion-col>{{fleet.driver_address}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Driver Phone No</ion-col>
        <ion-col>{{fleet.driver_phone_no}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Vehicle Plate No</ion-col>
        <ion-col>{{fleet.vehicle_plate_no}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Vehicle Type</ion-col>
        <ion-col>{{fleet.vehicle_type}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Vehicle Status</ion-col>
        <ion-col>{{fleet.vehicle_status}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<div>
  <ion-button expand="block" shape="round" fill="outline" color="primary" (click)="open(fleet)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  &nbsp;
  <ion-button expand="block" shape="round" fill="outline" color="danger" (click)="deleteModal(fleet)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</div>
</div>
<div style="background-color: #F5FCFF;" *ngIf="history_view == 1">
  <div>
    <div id="chart-container"></div>
  </div>
  <br>
  <div>
    <div id="chart-container1"></div>
  </div>
  <br>
  <div>
    <div id="chart-container2"></div>
  </div>
  <br>
  <div>
    <div id="chart-container3"></div>
  </div>
</div>
</ion-content>
