<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fleet</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Driver Name</ion-label>
        <ion-input type="text" name="driver_name" formControlName="driver_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Driver Email</ion-label>
        <ion-input type="text" name="driver_email" formControlName="driver_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Driver Address</ion-label>
        <ion-input type="text" name="driver_address" formControlName="driver_address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Driver Phone No</ion-label>
        <ion-input type="text" name="driver_phone_no" formControlName="driver_phone_no"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Plate No</ion-label>
        <ion-input type="text" name="vehicle_plate_no" formControlName="vehicle_plate_no"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Type</ion-label>
        <ion-input type="text" name="vehicle_type" formControlName="vehicle_type"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Status</ion-label>
        <ion-input type="text" name="vehicle_status" formControlName="vehicle_status"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
