<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Deliveries</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let delivery of deliveries; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(delivery)">
        <ion-label text-wrap>
          <p>{{delivery.id}}</p>
          <p>{{delivery.parcel_id}}</p>
          <p>{{delivery.driver_id}}</p>
          <p>{{delivery.request_time | date:'medium'}}</p>
          <p>{{delivery.assigned_time | date:'medium'}}</p>
          <p>{{delivery.estimated_time | date:'medium'}}</p>
          <p>{{delivery.ended_time | date:'medium'}}</p>
          <p>{{delivery.star_received}}</p>
          <p>{{delivery.delivery_status}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, delivery)"> {{ 'EDIT_BUTTON' | translate }} </ion-item-option>
        <ion-item-option color="danger" (click)="delete(delivery)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!deliveries?.length">
    <ion-label> No Deliveries found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
